## 1. Load data (movie classification) ##

In [5]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('Movie_classification.csv')
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(12), int64(5), object(2)
memory usage: 75.2+ KB

## 2. Cek nilai duplikat ##

In [18]:
df.duplicated().sum()

0

## 3. Menemukan null values buat presentase ##

In [22]:
(df.isna().sum()/len(df))*100

Marketing expense      0.000000
Production expense     0.000000
Multiplex coverage     0.000000
Budget                 0.000000
Movie_length           0.000000
Lead_ Actor_Rating     0.000000
Lead_Actress_rating    0.000000
Director_rating        0.000000
Producer_rating        0.000000
Critic_rating          0.000000
Trailer_views          0.000000
3D_available           0.000000
Time_taken             2.371542
Twitter_hastags        0.000000
Genre                  0.000000
Avg_age_actors         0.000000
Num_multiplex          0.000000
Collection             0.000000
Start_Tech_Oscar       0.000000
dtype: float64

## 4. Drop missing value berdasarkan baris ##

In [26]:
baris = df.copy(deep=True)

drop_baris = baris.dropna()

## Drop missing value berdasarkan kolom ##

In [29]:
kolom = df.copy(deep=True)

drop_kolom = kolom.dropna(axis=1)

## Imputasi dengan mean ##

In [36]:
mean_imputasi = df.copy(deep=True)

mean_imputasi['Time_taken'] = mean_imputasi['Time_taken'].fillna(mean_imputasi['Time_taken'].mean())

## Imputasi dengan modus ##

In [39]:
modus_imputasi = df.copy(deep=True)

modus_imputasi['Time_taken'] = modus_imputasi['Time_taken'].fillna(modus_imputasi['Time_taken'].mode()[0])

## Imputasi dengan median ##

In [44]:
median_imputasi = df.copy(deep=True)

median_imputasi['Time_taken'] = median_imputasi['Time_taken'].fillna(median_imputasi['Time_taken'].median())

## 5. Export data ke csv dan excel ##

In [50]:
drop_baris.to_excel('Movie_classification_clean_drop_baris.xlsx', index=False)
drop_kolom.to_excel('Movie_classification_clean_drop_kolom.xlsx', index=False)
mean_imputasi.to_excel('Movie_classification_clean_mean.xlsx', index=False)
modus_imputasi.to_excel('Movie_classification_clean_modus.xlsx', index=False)
median_imputasi.to_excel('Movie_classification_clean_median.xlsx', index=False)

drop_baris.to_csv('Movie_classification_clean_drop_baris.csv', index=False)
drop_kolom.to_csv('Movie_classification_clean_drop_kolom.csv', index=False)
mean_imputasi.to_csv('Movie_classification_clean_mean.csv', index=False)
modus_imputasi.to_csv('Movie_classification_clean_modus.csv', index=False)
median_imputasi.to_csv('Movie_classification_clean_median.csv', index=False)